body{ 
    background-color: rgb(181, 182, 184);
}

p {
    border-left: 6px solid red;
    background-color: lightgrey;
    scroll-behavior: smooth;
    overflow-y: scroll;
    scroll-behavior: auto;
}


#messagePane{
    border: 6px solid black;
    background-color: black;
    bottom: 0;
    position:absolute;
    right: 0; 
    margin-left: 1.5cm;
    margin-right: 1.5cm; 
    margin-bottom: 1cm;

}